#main {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 800px;
    margin : 0 auto;

}

#todo-text {
    width: 300px;
}

#main>input {
    height: 20px;
    padding: 3px;
    box-shadow: 1px 1px;
}

#main>button {
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    border: 1px solid black;
    border-radius: 10px;
    outline: 0;
}

#main>button:hover {
    background-color: #ff2222;
    color: #fff;
}

#todos>div>button {
    border: 0;
    outline: 0;
}

#todos>div>button:hover {
    background-color: #ff2222;
    color: #fff;
}
h2 {
    border-bottom: 1px solid black;
}

#todos {
    display : grid;
    grid-template-columns: auto auto;
}
div#todos > div {
    border: 1px solid black;
    margin: 7px 7px 7px 7px;
    padding: 5px 5px 5px 5px;
}

div > input:checked + span {
    text-decoration: line-through;
}

div > input + span + button {
    float: right;
}