body {
  width: 800px;
}

.container {
  display: grid;

  grid-gap: 10px;
  grid-template-columns: auto auto auto;

  border: 1px solid black;
  padding: 10px;
}

.container .item {
  border: 1px solid black;
  padding: 5px;

  background-color: rgba(26, 255, 44, 0.8);
}

.container .item4 {
  grid-column: 1 / 3
}

.container .item9 {
  grid-area: 3 / 1 / span 3 / span 2
}