.container {
    border : 1px solid black;
    border-radius: 10px;
    padding : 10px 20px 10px 20px;
    width: 500px;
    margin:auto
}

.add-button {
    border-radius: 7px;
    border : 1px solid black;
}
/* .info {
    border : 1px solid black;
} */

.btn-link {
    border: 1px solid black;
    padding: 0px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
